---
layout: home.njk
tag: home
title: Tools for designers and developers
description: Explore the tools from UIZED! Start with our Aspect Ratio Calculator to nail perfect image sizes. More tools are on the way—stay tuned!
---

<div class="text-center py-10">
    <h1 class="text-3xl md:text-6xl font-bold font-bold tracking-tight">Some of our Tools</h1>
    <p class="text-lg font-medium py-3">Tools for designers and developers. More to come.</p>
</div>


<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 gap-4">

    <a href="aspect-ratio-calculator/16-9" class="bg-white rounded-2xl pt-6 pb-10 flex flex-col">
        <div class="flex flex-col gap-4 mx-5 items-center">
            <img src="../../assets/images/aspect-ratio-logo.png" class="grow-0 shrink-0 rounded-full w-20" alt="" />
            <div class="flex flex-col gap-1 text-center">
                <h5 class="text-xl font-bold tracking-tight text-gray-900">Aspect Ratio Calculator</h5>
                <p class=" font-normal text-zinc-500">This tool not only helps you calculate aspect ratios and pixel dimensions but also creates custom image placeholders</p>
            </div>
        </div>
    
    </a>

</div>
