---
layout: home.njk
title: UIZed - Tools for designers and developers
description: Check out the cool tools from UIZED! Right now, we've got an Aspect Ratio Calculator to help you get those perfect image sizes. And that's just the start — stay tuned for more awesome tools coming your way soon!
---

{# <h1>Tools</h1> #}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

    <a href="aspect-ratio-calculator/16-9" class="max-w-sm bg-white rounded-2xl py-5">
        <div class="flex gap-4 mx-5">
            <img src="../../assets/images/aspect-ratio-logo.png" class="grow-0 shrink-0 h-16 rounded-xl" alt="" />
            <div class="flex flex-col gap-1">
                <h5 class="text-xl font-bold tracking-tight text-gray-900">Aspect Ratio Calculator</h5>
                <p class=" font-normal text-xs text-zinc-700">This tool not only helps you calculate aspect ratios and pixel dimensions but also creates custom image placeholders</p>
            </div>
        </div>
    
    </a>

</div>
