---
title: Aspect Ratio Calculator
---

<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
        <title>{{ title }} - Aspect Ratio Calculator & Image Placeholder</title>

        <meta name="description" content="{{ description | escape }}">
        <meta name="robots" content="{{ robots if robots else 'index,follow' }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">

        <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon.png">
        <link rel="apple-touch-icon" href="../../assets/images/favicon/apple-touch-icon.png" sizes="180x180">

        <link rel="stylesheet" href="../../style.out.css" />
        
    </head>
    <body class="bg-zinc-100 text-zinc-900 flex flex-col h-full">

        {% include "header.njk" %}

        {{ content | safe }}

        <script src="/js/grindflow.js"></script>
    </body>
</html>