<div class="flex flex-col gap-1 lg:flex-row  items-center text-zinc-600 text-sm lg:text-xs  bg-gradient-to-t from-zinc-200 to-zinc-100 px-5 py-3 mt-10">
    
    <div id="footer_credits" class="flex-1 px-2 flex  gap-1">© UIZed by <a href="marco.mtr@gmail.com" class="font-medium text-zinc-900  hover:underline" target="_blank">Marco Monteiro</a>
    </div>

    <div class="flex-1 flex h-full items-center h-full">

        <div class="flex-1 text-center text-zinc-600 px-6 ">
            Tools for designers and developers
        </div>
    </div>

      <div class="flex justify-end flex-1 text-zinc-900">
            <a href="https://www.linkedin.com/in/marcomtr/" target="blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="#0A66C2" width="24" height="24" class="">
                    <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                    </svg>
            </a>
        </div>
</div>