<header class="flex justify-between items-center px-3 lg:px-5 h-14 bg-zinc-900 shrink-0">

    {% include "logo.njk" %}

    <div class="flex-1 items-center justify-center hidden lg:flex flex-col">
        <h1 class="text-white/95">{{ title }}</h1>
    </div>
 
    <nav class="flex flex-col items-end lg:flex-1 gap-2 lg:flex">
        <a href="https://buymeacoffee.com/marcomonteiro" target="blank" class="flex gap-2 items-center bg-white/10 text-white/95 text-sm px-5 h-10 leading-none font-medium rounded-xl">
            <img src="../../assets/images/heart.png" class="w-5">
            Buy me a coffee
        </a>
    </nav>

</header>