---
title: Home
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no">
        <meta name="description" content="">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.out.css" />

    </head>
    <body class="bg-zinc-200 text-zinc-900">

        {% include "header.njk" %}

        {{ content | safe }}

        {% include "footer.njk" %}
    
    </body>
</html>