---
title: Home
---

<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no">
        <title>{{ title }}</title>

        <meta name="description" content="{{ description }}">
        <meta name="robots" content="{{ robots if robots else 'index,follow' }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">

        <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.png">
        <link rel="apple-touch-icon" href="../../assets/images/favicon/apple-touch-icon.png" sizes="180x180">

        <link rel="stylesheet" href="/style.out.css" />
    </head>
    <body class="bg-zinc-100 text-zinc-900 flex flex-col h-full">

        <div class="fixed top-0 left-0 h-full w-full bg-black/70 z-40 hidden js-overlay"></div>

        {% include "header.njk" %}

        <main class="flex flex-col sm:gap-2 lg:gap-5 flex-1 p-2 lg:p-5 max-w-[90rem] mx-auto w-full">

            <div class="lg:hidden">
            {% include "sidebar-nav.njk" %}
            </div>

            <div>
                

            {{ content | safe }}

            </div>

        </main>

        {% include "footer.njk" %}

        <script src="/js/app.js"></script>

    </body>
</html>