---
title: Aspect Ratio Calculator
---

<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
        <title>{{ title }}</title>

        <meta name="description" content="{{ description }}">
        <meta name="robots" content="{{ robots if robots else 'index,follow' }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">

        <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.png">
        <link rel="apple-touch-icon" href="../../assets/images/favicon/apple-touch-icon.png" sizes="180x180">

        <link rel="stylesheet" href="../../style.out.css" />
        
    </head>
    <body class="bg-zinc-200 text-zinc-900 flex flex-col h-full">

        {% from "components/inputField.njk" import inputField %}
        {% from "components/checkbox.njk" import checkboxField %}

        <div class="fixed top-0 left-0 h-full w-full bg-black/70 z-40 hidden js-overlay"></div>

        {% include "header.njk" %}

        <main class="sm:flex flex-wrap justify-between sm:gap-2 lg:gap-5 flex-1 p-2 lg:p-5 pb-0 max-w-[90rem] mx-auto w-full">

            {% include "sidebar-nav.njk" %}

            <div class="flex flex-row flex-1">
                        
                <div class="flex-1"> 
                    
                    <div class="flex-1 mx-auto">

                        {# <div class="flex justify-between justify-center">
                            <h2 class="mb-6 text-lg md:text-lg font-bold">{{ title }}</h2>
                        </div> #}

                        <form id="aspect-form" class="bg-white p-4 mb-2 lg:p-6 lg:mb-6 rounded-2xl"> 
                            <div class="flex flex-wrap gap-3" >
                                <div class="flex-1 mb-6">
                                    {{ inputField('Ratio Width', 'ratio-width', 'ratio-width', ratioWidth, 'number') }}
                                </div>
                                <div class="flex-1 mb-4">
                                    {{ inputField('Ratio Height', 'ratio-height', 'ratio-height', ratioHeight, 'number') }}
                                </div>
                            </div>
                            <div class="flex gap-3">
                                <div class="flex-1">
                                    {{ inputField('Pixel Width', 'pixel-width', 'pixel-width', pixelWidth, 'number') }}
                                </div>
                                <div class="flex-1">
                                    {{ inputField('Pixel Height', 'pixel-height', 'pixel-height', pixelHeight, 'number') }}
                                </div>
                            </div>
                        </form>

                        <div class="flex flex-col gap-6 mb-2 lg:mb-6">
                                        
                            <div id="template-options" class="bg-white rounded-xl">

                                <div class="border-b border-zinc-200 px-4 lg:px-6 py-3.5">

                                    <div class="flex items-center">
                                        {{ checkboxField('Custom text', 'has-custom-text', false) }}
                                    </div> 

                                    <div class="my-6 hidden" id="custom-text-container">
                                        <label for="custom-text-label" class="block mb-2 text-sm font-medium text-gray-900">Add your custom text</label>
                                        <input type="text" id="custom-text-label" class="text-sm appearance-none border rounded-xl w-full py-2 px-3 h-10 text-zinc-700 leading-none bg-zinc-50 focus:bg-white border-zinc-300 focus:outline-indigo-600 focus:shadow-outline hover:border-zinc-500" value="Custom text">
                                    </div>

                                </div>

                                <div class="border-b border-zinc-200 px-4 lg:px-6 py-4">
                                    
                                    <h3 class="text-sm font-medium mb-2">Font Family</h3>

                                    <div class="grid grid-cols-5 gap-2 sm:grid-cols-4 md:grid-cols-8 lg:grid-cols-7 xl:grid-cols-10">
                                        <button data-font="lato" class="font-button bg-zinc-100 block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/lato.svg" class="w-3/5 mx-auto">
                                            <div class="text-xxs hidden  text-zinc-900 font-semibold mt-1">Lato</div>
                                        </button>
                                        <button data-font="lora" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/lora.svg" class="w-3/5 mx-auto">
                                            <div class="text-xxs hidden  text-zinc-900 font-semibold mt-1">Lora</div>
                                        </button>
                                        <button data-font="montserrat" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/montserrat.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1 justify-center">
                                                <div class="truncate">Montserrat</div>
                                            </div>
                                        </button>
                                        <button data-font="open-sans" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square ring-2 ring-indigo-700 ring-offset-2 hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/open-sans.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1  justify-center text-xxs hidden  text-zinc-900 font-semibold mt-1">
                                                <div class="truncate">Open Sans</div>
                                            </div>
                                        </button>
                                        <button data-font="oswald" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/oswald.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1  justify-center">
                                                <div class="truncate">Oswald</div>
                                            </div>
                                        </button>
                                        <button data-font="playfair-display" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/playfair-display.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1  justify-center">
                                                <div class="truncate">Playflair Display</div>
                                            </div>
                                        </button>
                                        <button data-font="pt-sans" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/pt-sans.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1 justify-center">
                                                <div class="truncate">PT Sans</div>
                                            </div>
                                        </button>
                                        <button data-font="raleway" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/raleway.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1  justify-center">
                                                <div class="truncate">Raleway</div>
                                            </div>
                                        </button>
                                        <button data-font="roboto" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/roboto.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1  justify-center">
                                                <div class="truncate">Roboto</div>
                                            </div>
                                        </button>
                                        <button data-font="source-sans-pro" class="font-button bg-zinc-100  block py-2 items-center justify-center rounded-lg aspect-square hover:border-zinc-500 transition">
                                            <img src="../../assets/images/fonts/source-sans-pro.svg" class="w-3/5 mx-auto">
                                            <div class="flex px-1 text-xxs hidden  text-zinc-900 font-semibold mt-1  justify-center">
                                                <div class="truncate">Source Sans Pro</div>
                                            </div>
                                        </button>
                                    </div>

                                </div>

                                <div class="border-b border-zinc-200 px-6 py-4">

                                    <h3 class="text-sm font-medium mb-2">Text color</h3>

                                    <div class="grid grid-cols-7 gap-2 sm:grid-cols-11 xl:grid-cols-18">
                                        <button data-theme="gray-50" data-theme-fg="fafafa" class="bg-[#fafafa] border border-zinc-200 transition hover:border-zinc-500 rounded-lg aspect-square"></button>
                                        <button data-theme="gray-100" data-theme-fg="f5f5f5" class="bg-[#f5f5f5] border border-zinc-200 hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-200" data-theme-fg="e5e5e5" class="bg-[#e5e5e5] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"> </button>
                                        <button data-theme="gray-300" data-theme-fg="d4d4d4" class="bg-[#d4d4d4] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-400" data-theme-fg="a3a3a3" class="bg-[#a3a3a3] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-500" data-theme-fg="737373" class="bg-[#737373] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-600" data-theme-fg="525252" class="bg-[#525252] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-700" data-theme-fg="404040" class="bg-[#404040] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-800" data-theme-fg="262626" class="bg-[#262626] hover:border hover:border-zinc-500 transition rounded-lg aspect-square ring-2 ring-indigo-700 ring-offset-2"></button>
                                        <button data-theme="gray-900" data-theme-fg="171717" class="bg-[#171717] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-950" data-theme-fg="0a0a0a" class="bg-[#0a0a0a] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                    </div>

                                </div>

                                <div class="px-6 py-4">

                                    <h3 class="text-sm font-medium mb-2">Background color</h3>

                                    <div class="grid grid-cols-7 gap-2 sm:grid-cols-11 xl:grid-cols-18">
                                        <button data-theme="gray-50" data-theme-bg="fafafa" class="bg-[#fafafa] border border-zinc-200 transition hover:border-zinc-500 rounded-lg aspect-square"></button>
                                        <button data-theme="gray-100" data-theme-bg="f5f5f5" class="bg-[#f5f5f5] border border-zinc-200 hover:border-zinc-500 hover:border hover:border-zinc-500 transition rounded-lg aspect-square ring-2 ring-indigo-700 ring-offset-2"></button>
                                        <button data-theme="gray-200" data-theme-bg="e5e5e5" class="bg-[#e5e5e5] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"> </button>
                                        <button data-theme="gray-300" data-theme-bg="d4d4d4" class="bg-[#d4d4d4] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-400" data-theme-bg="a3a3a3" class="bg-[#a3a3a3] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-500" data-theme-bg="737373" class="bg-[#737373] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-600" data-theme-bg="525252" class="bg-[#525252] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-700" data-theme-bg="404040" class="bg-[#404040] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-800" data-theme-bg="262626" class="bg-[#262626] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-900" data-theme-bg="171717" class="bg-[#171717] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                        <button data-theme="gray-950" data-theme-bg="0a0a0a" class="bg-[#0a0a0a] hover:border hover:border-zinc-500 transition rounded-lg aspect-square"></button>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
    
            </div>

            <div class="sm:w-72">
                <div class="flex flex-col bg-white relative flex-0 shrink-0 rounded-2xl p-6 pb-3 gap-2" id="placeholder-container">

                    <img src="https://placehold.co/1024x576/EEE/666.svg?font=open-sans" class="max-w-full h-auto self-center object-contain opacity-0 transition max-h-64" alt="" id="image-placeholder">

                    <button class="grow-0 flex gap-2 items-center justify-center text-indigo-600 bg-white  hover:bg-zinc-100 focus:ring-2 focus:ring-offset-2 focus:outline-none focus:ring-indigo-700 font-medium rounded-xl text-sm p-2.5 " id="download-button">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 14C1.7835 14 1 13.2165 1 12.25L1 9.74998C1 9.33576 1.33579 8.99998 1.75 8.99998C2.16421 8.99998 2.5 9.33576 2.5 9.74998L2.5 12.25C2.5 12.388 2.61193 12.5 2.75 12.5H13.25C13.3881 12.5 13.5 12.388 13.5 12.25V9.74998C13.5 9.33576 13.8358 8.99998 14.25 8.99998C14.6642 8.99998 15 9.33576 15 9.74998V12.25C15 13.2165 14.2165 14 13.25 14H2.75Z" fill="currentColor"/>
                            <path d="M7.25 7.68932L7.25 2C7.25 1.58579 7.58578 1.25 8 1.25C8.41421 1.25 8.75 1.58579 8.75 2L8.75 7.68932L10.7197 5.71965C11.0126 5.42675 11.4874 5.42675 11.7803 5.71965C12.0732 6.01254 12.0732 6.48741 11.7803 6.78031L8.53033 10.0303C8.23744 10.3232 7.76256 10.3232 7.46967 10.0303L4.21967 6.78031C3.92678 6.48741 3.92678 6.01254 4.21967 5.71965C4.51256 5.42675 4.98744 5.42675 5.28033 5.71965L7.25 7.68932Z" fill="currentColor"/>
                        </svg>

                        Download Image

                    </button>
                </div>

                <div class="flex flex-col gap-2 bg-white rounded-2xl p-2 mt-2 lg:mt-5">
                    {{ inputField('', 'copy-link', 'copy-link', copyLink, 'text') }}

                    <button type="button" id="copy-url-button"  class="shrink-0 text-white bg-indigo-600 hover:bg-indigo-900 focus:ring-2 focus:ring-offset-2  focus:outline-none focus:ring-indigo-700 font-medium rounded-xl text-sm px-5 py-2.5 shadow transition">
                        Copy image url
                    </button>    
                </div>

            </div>


            {# {{ content | safe }} #}
        </main>

        <div class="max-w-[90rem] mx-auto w-full lg:px-72">

        <div class="px-5 py-5 lg:py-0 lg:px-12">
            {% include "ar-details.njk" %}
        </div>

        </div>


        {% include "footer.njk" %}

        <script src="/js/app.js"></script>
        <script src="/js/aspect-ratio-calculator.js"></script>
    
    </body>
</html>