<div class="flex flex-1 items-center lg:gap-3 w-full lg:w-auto ">


        {% if locatedInSidebar %}
        <button type="button" class="mr-4 js-menu-toggle-close">
            <svg width="24" height="24" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_165_164" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="41" height="41">
                <rect x="0.1875" y="0.5625" width="40" height="40" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_165_164)">
                <path d="M10.7429 31.8679L8.90961 30.0071L18.3263 20.5625L8.90961 11.1179L10.7429 9.25708L20.1875 18.7012L29.6321 9.25708L31.4654 11.1179L22.0488 20.5625L31.4654 30.0071L29.6321 31.8679L20.1875 22.4237L10.7429 31.8679Z" fill="white"/>
                </g>
            </svg>
        </button>
        {% endif %}

        {% if not locatedInSidebar %}
        <button type="button" class="mr-4 lg:hidden js-menu-toggle">
                <svg width="24" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_167_173" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="41" height="40">
                <rect x="0.1875" width="40" height="40" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_167_173)">
                <path d="M5.46539 29.7779V27.1387H34.9096V29.7779H5.46539ZM5.46539 21.3054V18.6667H34.9096V21.3054H5.46539ZM5.46539 12.8333V10.1946H34.9096V12.8333H5.46539Z" fill="white"/>
                </g>
                </svg>
        </button>
        {% endif %}


    <a href="/" class="items-center flex justify-center lg:block">
        <img src="../../assets/images/logo.png" class="w-14">
    </a>

</div>