---
title: My Rad Blog
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="robots" content="{{ robots if robots else 'index,follow' }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.png">
        <link rel="apple-touch-icon" href="../../assets/images/favicon/apple-touch-icon.png" sizes="180x180">

        <link rel="stylesheet" href="../../style.out.css" />
    </head>
    <body class="bg-white text-zinc-900">

           {% set tool = true %} 
        {% include "header.njk" %}

        <main class="flex flex-wrap">
            <aside class="hidden md:block w-64 bg-zinc-900 p-2 text-zinc-400">

                <ul class="text-sm">
                {%- for entry in collections.all | eleventyNavigation %}
                    <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %} class="block px-3 py-2 rounded-lg {% if entry.url == page.url %}bg-white/10 text-white{% endif %}">{{ entry.title }}</a></li>
                {%- endfor %}
                </ul>

            </aside>
        
            <div class="flex-1 max-w-screen-lg mx-auto p-6">
            {{ content | safe }}
            </div>
        </main>

        {% include "footer.njk" %}

    </body>
</html>