{% macro inputField(labelText='', id='', name='', value = '', type = 'text') %}
    {% if labelText %}
    <label class="block text-zinc-900 leading-none text-sm font-semibold mb-2" for="{{ id }}">
        {{ labelText }}
    </label>
    {% endif %}
    <input class="bg-zinc-100  border-0 text-zinc-700 text-sm rounded-lg  focus:ring-2 focus:ring-indigo-700 focus:ring-inset focus:bg-zinc-100 focus:outline-0 block w-full p-2.5" 
           type="{{ type }}" 
           id="{{ id }}" 
           name="{{ name }}" 
           value="{{ value }}">
{% endmacro %}
