---
title: "2.39:1 CinemaScope"
ratioWidth: 2.39
ratioHeight: 1
pixelWidth: 1920
description: Calculate the 2.39:1 aspect ratio, a cinematic format commonly used in widescreen films and high-definition video. Known for its ultra-wide, panoramic view, this ratio enhances the visual impact of movies and large-screen presentations. Ideal for film production and immersive experiences, the 2.39:1 ratio provides a dramatic and expansive canvas that captures stunning, wide-angle visuals

eleventyNavigation:
  key: 2.39:1 CinemaScope
  order: 7
---

