---
title: "3:2"
ratioWidth: 3
ratioHeight: 2
pixelWidth: 1080
description: Calculate the 3:2 aspect ratio, commonly used in photography and certain computer screens. Offering a slightly wider view than the traditional 4:3, the 3:2 ratio is ideal for capturing high-quality images with a natural, balanced composition. Perfect for digital cameras, printing, and web use, this ratio provides flexibility and clarity for various visual applications

eleventyNavigation:
  key: "3:2"
  order: 5
---
