---
title: "4:3 Standard"
ratioWidth: 4
ratioHeight: 3
pixelWidth: 1024
description: Calculate the 4:3 aspect ratio, a classic format used in early televisions and computer monitors. Known for its balanced, square-like display, the 4:3 ratio is still relevant for certain digital content and retro media. Discover how this aspect ratio fits traditional screens and how it can be used for presentations, video, and digital archives.

eleventyNavigation:
  key: 4:3 Standard
  order: 4
---
