---
title: "9:16 Vertical"
ratioWidth: 9
ratioHeight: 16
pixelWidth: 1080
description: Calculate the 9:16 aspect ratio, commonly used for vertical displays on smartphones and social media. Perfect for mobile videos, stories, and content creation, this ratio enhances the viewing experience on handheld devices. Learn how the 9:16 ratio fits modern mobile screens and optimize your content for better engagement on platforms like Instagram, TikTok, and Snapchat

eleventyNavigation:
  key: 9:16 Vertical
  order: 3
---
