---
title: "Instagram Post Portrait"
ratioWidth: 4
ratioHeight: 5
pixelWidth: 1080
description: Calculate the perfect dimensions for Instagram portrait posts with our 4:5 aspect ratio tool. Ideal for showcasing vertical images and detailed content

eleventyNavigation:
  key: Instagram Post Portrait
  order: 8
---