---
title: "Instagram Story"
ratioWidth: 9
ratioHeight: 16
pixelWidth: 1080
description: Calculate the ideal dimensions for Instagram Stories with our 9:16 aspect ratio tool

eleventyNavigation:
  key: Instagram Post Story
  order: 8
---