---
title: "Instagram Reel"
ratioWidth: 9
ratioHeight: 16
pixelWidth: 1080
description: Use our tool to calculate the perfect dimensions for Instagram Reels with a 9:16 aspect ratio

eleventyNavigation:
  key: Instagram Reel
  order: 8
---