---
title: "Instagram Post Landscape"
ratioWidth: 1.91
ratioHeight: 1
pixelWidth: 1080
description: Calculate the ideal dimensions for Instagram landscape posts with our 1.91:1 aspect ratio tool

eleventyNavigation:
  key: Instagram Post Landscape
  order: 8
---